:javascript
	$('.notice').dialog({title: 'Message', dialogClass: 'ui-state-highlight notice', position: 'right bottom'});
	$('.notice').delay(1500).hide("drop", {direction: "down"},  1000);
	menuButtons();
	addButtons();
	